.about-page-grid {
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  margin: 2em !important;
  padding: 2em !important;
}

@media screen and (min-width: 600px) {
  .about-page-grid {
    margin: 5em !important;
    padding: 3em !important;
  }
}

.text-segment {
  text-align: justify;
  font-size: 1.2rem;
}