.center-image {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 40% !important;
    height: auto !important;
  }
  
  .labels-row {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .category-label {
      color: white !important;
      background-color: #A09BE7 !important;
  }
  
  .font-size-product-details {
      font-size: 1.2rem !important;
  }